# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Build artifacts
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Docker artifacts
docker/*.log
