version: "3.8"
services:
  api:
    build: .
    command: uvicorn app.fastapi_app:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
  ui:
    build: .
    command: streamlit run app/streamlit_app.py --server.port 8501 --server.headless true
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
